body {
  background: #5fcfa2;
  text-align: center;
}

#title {
  text-align: center;
  font-size: 2.5em;
}

#recipeDisplay {
  margin: auto;
  width: 50%;
  background: #f6f6f6;
  border-radius: 5px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}

.content {
  margin-bottom: 5px;
}

h2 {
  display: inline;
  text-decoration: underline;
}

#catalog {
  width: 20%;
  margin: 10px auto auto auto;
  background: #f6f6f6;
  border-radius: 5px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  justify-content: center;
}

li {
  margin: 10px;
}

span {
  font-style: italic;
}

#newRecipeButton {
  border: none;
  border-radius: 5px;
  background-color: #f5987d;
  margin-top: 15px;
  width: 15%;
  font-size: 1.2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#newRecipeButton:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.95) 0px 5px 15px;
}

#inputDisplay {
  display: none;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  z-index: 1;
}

#inputForm {
  background-color: #f6f6f6;
  margin: 15% auto 15% auto;
  width: 22%;
  border: solid #5fcfa2;
}

.input {
  margin: 5px;
}

input {
  width: 175px;
  max-width: 85%;
  text-align: center;
}

#submitRecipeButton {
  border: none;
  border-radius: 5px;
  background-color: #f5987d;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#submitRecipeButton:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.95) 0px 5px 15px;
}
