body {
  background: #5fcfa2;
}

#title {
  text-align: center;
  font-size: 2.5em;
}

#recipeDisplay {
  margin: auto;
  width: 70%;
  background: #f6f6f6;
  border-radius: 5px;
  padding: 5px;
}

#recipeInput {
  margin: 20px auto auto auto;
  width: 50%;
  background: #f6f6f6;
  border-radius: 5px;
  padding: 5px;
}
